@mixin mediaqueries_600 {
  .contact {
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
      }
    }
  }

  .skill-tech .row {
    column-count: 2;
    column-gap: $gridGap;
    display: block;

    .item {
      display: inline-block;
      width: 100%;
    }
  }
}