@mixin mediaqueries_992($maxWith: 992px) {
  body {
    padding: calc(#{$generalMarginBottom} + 70px) 0 0;
  }

  .row {
    max-width: $maxWith;
  }

  .menu {
    position: fixed;
    top:0;
    bottom: initial;

    > ul {
      margin: 0 auto;

      > li {
        max-width: 100px;
      }
    }

    span {
      font-size: 1em;
    }
  }

  .home {
    .text {
      column-count: 2;
      column-gap: $gridGap;
      display: block;
      orphans: 3;

      p {
        widows: 3
      }
    }
  }

  .skill-tech .row {
    column-count: 3;
  }
}