@mixin mediaqueries_992($maxWith: 992px) {
  body {
    padding: calc(#{$generalMarginBottom} + 70px) 0 0;
  }

  .row {
    max-width: $maxWith;
  }

  .menu {
    position: fixed;
    top:0;
    bottom: initial;

    > ul {
      margin: 0 auto;

      > li {
        max-width: 100px;
      }
    }

    span {
      font-size: 1em;
    }
  }

  .home {
    .text {
      column-count: 2;
      column-gap: $gridGap;
      display: block;
      orphans: 3;

      p {
        widows: 3
      }
    }
  }

  .work-experience, .education .academy {
    .card {
      display: grid;
      grid-template-columns: 250px 1fr;
      grid-template-areas:
        "details header"
        "details info"
        ". info"
        ". info";
      column-gap: $gridGap;

      > header {
        grid-area: header;
      }

      .details {
        grid-area: details;
      }

      .info {
        grid-area: info;
      }
    }
  }

  .education .academy {
    margin-bottom: $generalMarginBottom;
  }

  .education .other {
    display: grid;
    column-gap: $gridGap;
    grid-template: 1fr / 1fr 1fr;

    > header {
      grid-column: 1 / span 2;
    }
  }


  .skill-tech .row {
    column-count: 3;
  }
}