@mixin mediaqueries_992($maxWith: 992px) {
  body {
    padding: calc(#{$generalMarginBottom} + 100px) 0 0;
  }

  .row {
    max-width: $maxWith;
  }

  .menu {
    position: fixed;
    top:0;
    bottom: initial;
    height: 100px;

    > ul {
      margin: 0 auto;
      align-content: center;
      height: 100%;

      > li {
        max-width: 100px;
        a {
          height: 100%;
          &:hover, &.active {
            transform: scale(1.2);
            transition: .1s ease-in-out;
          }
        }
      }
    }

    span {
      font-size: 1em;
    }
  }

  .home {
    .image {
      max-width: 300px;
      height: 300px;
    }

    .text {
      column-count: 2;
      column-gap: $gridGap;
      display: block;
      orphans: 3;

      p {
        widows: 3
      }
    }
  }

  .work-experience, .education .academy {
    .card {
      display: grid;
      grid-template-columns: 250px 1fr;
      grid-template-areas:
        "details header"
        "details info"
        ". info"
        ". info";
      column-gap: $gridGap;

      > header {
        grid-area: header;
      }

      .details {
        grid-area: details;
      }

      .info {
        grid-area: info;
      }
    }
  }

  .education .academy {
    margin-bottom: $generalMarginBottom;
  }

  .education .other {
    display: grid;
    column-gap: $gridGap;
    grid-template: 1fr / 1fr 1fr;

    > header {
      grid-column: 1 / span 2;
    }
  }

  .contact {
    ul {
      display: flex;
      flex-wrap:nowrap;
      justify-content: space-between;

      li {width: auto;}
    }

    form {
      display: grid;
      @include col2;

      .accept {
        grid-column: span 2;
      }

      .item {
        margin-bottom: 0;
      }

      .item:nth-child(1) {
        div:last-child input {
          margin-bottom: 0;
        }
      }

      .item:nth-child(2) {
        overflow: hidden;
        textarea {
          height: 100%;
        }
      }
    }
  }

  .skill-tech .row {
    column-count: 3;
  }

  footer {
    background-color: rgba($lighterGrey, .8);
    bottom: 0;
    left: 0;
    margin: 0 auto;
    padding: $generalPadding / 2;
    position: fixed;
    right: 0;
    width: 120px;
  }
}