body {
  padding: 70px 0;
  min-width: 320px;
}

.home {
  header {
    text-align: center;
    margin-bottom: $generalMarginBottom;
  }

  .image {
    @include rounded(100%);
    border: 1px solid lightgrey;
    max-width: 200px;
    margin:0 auto;
  }
}

.contact {

  form {
    background-color: $lighterGrey;
    padding: $generalPadding * 2;
  }

  ul {
    li {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: $generalMargin;
      transition: all .3s ease-in-out;
      &:hover {
        color: $color1;
      }
    }

    i {
      @include font-size(24);
      margin-right: $generalMargin/2;
    }
  }
}

.row {
  @include col1;
}