body {
  padding: 70px 0;
  min-width: 360px;
}

.home {
  header {
    text-align: center;
    margin-bottom: $generalMarginBottom;
  }

  .image {
    @include rounded(100%);
    border: 1px solid lightgrey;
    max-width: 200px;
    margin:0 auto;
  }
}

.contact {
  form {
    background-color: $lighterGrey;
    padding: $generalPadding * 2;
  }

  ul {
    li {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: $generalMargin;
      transition: all .3s ease-in-out;
      &:hover {
        color: $color1;
      }
    }

    i {
      @include font-size(24);
      margin-right: $generalMargin/2;
    }
  }
}

.card {
  font-family: $condensedFont;
  margin-bottom: $generalMarginBottom;

  .details {
    background-color: $lighterGrey;
    padding: $generalPadding;
    font-size: .9em;
    margin-bottom: $generalMargin;

    .date {
      font-weight: bold;
      color: $color1;
    }

    span:nth-child(2)::before {
      content: "- ";
    }

    ul {
      font-size: inherit;
      margin-bottom: 0;
    }

    li:first-child {
      text-transform: uppercase;
    }
  }

  .info {
    font-family: $condensedFont;
    p {margin-bottom: $generalMargin / 2;}

    h3{
      font-family:$condensedFont;
      margin-bottom: $generalMargin / 2;
      // font-weight: normal;
    }

    ul {
      padding-left: $generalPadding;
      li {
        margin-bottom: $generalMargin / 2;
        list-style: "- ";
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

